@import '../../styles/style-guide.scss';

.theme-btn {
  background: transparent;
  border: 0;
  padding: 0;
  width: 20px;
  cursor: pointer;
  transition: transform 250ms ease;

  &:hover {
    transform: scale(1.1);
  }

  @include media(1200px) {
    width: 26px;
  }

  img {
    object-fit: contain;
  }
}