@import '../../styles/style-guide.scss';

.theme-btn {
  background: transparent;
  border: 0;
  padding: 0;
  width: 20px;
  cursor: pointer;

  @include media(1200px) {
    width: 26px;
  }

  img {
    object-fit: contain;
  }
}