@import './style-guide.scss';

.main {
  height: 100vh;
  background-color: $dark-blue-100;
  position: relative;

  .header-bg {
    max-height: 200px;
    height: 100%;
    background-image: url('../assets/images/bg-mobile-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include media(1200px) {
      max-height: 300px;
      background-image: url('../assets/images/bg-desktop-dark.jpg');
    }
  }

  .container {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 44px 24px;

    @include media(1200px) {
      max-width: 540px;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 72px;
    }

    .header-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 38px;

      h1 {
        font-size: 24px;
        text-transform: uppercase;
        color: $light-gray-100;
        letter-spacing: 12px;
        line-height: normal;
      }

      @include media(1200px) {
        margin-bottom: 42px;

        h1 {
          font-size: 32px;
        }
      }
    }

    .info-box {
      text-align: center;
      color: $dark-gray-blue-200;
      font-size: 12px;
      font-weight: $bold-weight;
      padding-top: 42px;

      @include media(1200px) {
        font-size: 14px;
      }
    }
  }
}

.light-mode {
  // app
  background-color: $light-gray-100;

  .header-bg {
    background-image: url('../assets/images/bg-mobile-light.jpg');

    @include media(1200px) {
      background-image: url('../assets/images/bg-desktop-light.jpg');
    }
  }

  .container {
    .info-box {
      color: $dark-gray-100;
    }
  }

  // text-input
  .input-container {
    background-color: #FFFFFF;
  
    input {
      color: $dark-gray-blue-300;
      caret-color: $primary-bright-blue;
  
      &::placeholder {
        color: $dark-gray-100;
      }
    }
  
    &::before {
      border: 1px solid $light-gray-300;
    }
  }

  // task-list
  .task-container {
    background-color: #FFFFFF;
    box-shadow: 0 24px 24px -8px $light-gray-200;
  
    .task-list {
      .task-item {
        border-bottom: 1px solid $light-gray-200;
        
        label {
          color: $dark-gray-200;
  
          &:has(input:checked) {
            color: $light-gray-300;
          }
  
          input {
            border: 1px solid $light-gray-300;
            
            &:hover {
              background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,
              $primary-check-background border-box;
            }
          }
        }
      }
    }
  
    .task-control {
      p {
        color: $dark-gray-100;
      }
  
      button {
        color: $dark-gray-100;
  
        &:hover {
          color: $dark-gray-200;
        }
      }
    }
  }

  // filter
  .filter-container {
    background-color: #FFFFFF;
    box-shadow: 0 24px 24px -8px $light-gray-200;
  
    .filter-label {
      color: $dark-gray-100;
  
      &:hover {
        color: $dark-gray-200;
      }
    }
  }
}