//Primary colors
$primary-bright-blue: #3a7bfd;
$primary-check-background: linear-gradient(#57ddff, #c058f3);

//Light Theme
$light-gray-100: #fafafa;
$light-gray-200: #e4e5f1;
$light-gray-300: #d2d3db;
$dark-gray-100: #9394a5;
$dark-gray-200: #484b6a;

//Dark Theme
$dark-blue-100: #161722;
$dark-blue-200: #25273c;
$light-gray-blue: #cacde8;
$light-gray-blue-hover: #e4e5f1;
$dark-gray-blue-100: #777a92;
$dark-gray-blue-200: #4d5066;
$dark-gray-blue-300: #393a4c;

$text-size: 18px;
$normal-weight: 400;
$bold-weight: 700;

@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}