@import '../../styles/style-guide.scss';

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: $dark-very-dark-desaturated-blue;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 16px 16px #0F0F16;

  .filter-label {
    color: $dark-dark-grayish-blue;
    font-weight: $bold-weight;
    cursor: pointer;
    transition: all 300ms ease;

    .filter-input {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;
    }

    &:has(input:checked) {
      color: $primary-bright-blue;
    }
  }
}