@import '../../styles/style-guide.scss';

.task-container {
  background-color: $dark-very-dark-desaturated-blue;
  border-radius: 4px;
  box-shadow: 0 16px 16px #0F0F16;

  .task-list {
    padding: 0;

    .task-item {
      list-style: none;
      padding: 16px 20px;
      border-bottom: 1px solid $dark-very-dark-grayish-blue;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      label {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        color: $dark-light-grayish-blue;

        input {
          -webkit-appearance: none;
          appearance: none;
          background-color: transparent;
          margin: 0;
          width: 20px;
          height: 20px;
          border: 1px solid $dark-grayish-blue;
          border-radius: 50%;
          display: grid;
          place-content: center;
          cursor: pointer;

          &::before {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-image: url('../../assets/images/icon-check.svg'), $primary-check-background;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            opacity: 0;
            visibility: hidden;
            transition: all 120ms ease-in-out;

          }

          &:checked::before {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      button {
        background: transparent;
        border: 0;
        padding: 0;
        width: 14px;
        height: 14px; 
        cursor: pointer; 
      }
    }
  }

  .task-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;

    p {
      font-size: 12px;
      color: $dark-dark-grayish-blue;
    }

    button {
      background: transparent;
      border: 0;
      font-size: 12px;
      color: $dark-dark-grayish-blue;
      padding: 0;
    }
  }
}