@import '../../styles/style-guide.scss';

.task-container {
  background-color: $dark-blue-200;
  border-radius: 4px;
  box-shadow: 0 16px 16px #0E0E18;

  .task-list {
    padding: 0;

    .task-item {
      list-style: none;
      padding: 16px 20px;
      border-bottom: 1px solid $dark-gray-blue-300;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media(1200px) {
        padding: 20px 24px;

        &:hover {
          button {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      
      label {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        color: $light-gray-blue;
        cursor: pointer;
        transition: color 125ms ease-out;

        &:has(input:checked) {
          color: $dark-gray-blue-200;
          text-decoration: line-through;
        }
        
        @include media(1200px) {
          gap: 24px;
          font-size: $text-size;
        }

        input {
          -webkit-appearance: none;
          appearance: none;
          background-color: transparent;
          margin: 0;
          position: relative;
          width: 20px;
          height: 20px;
          border: 1px solid $dark-gray-blue-300;
          border-radius: 50%;
          display: grid;
          place-content: center;
          cursor: pointer;
          transition: border 250ms ease-out;
          
          &:hover {
            background: linear-gradient($dark-blue-200, $dark-blue-200) padding-box,
            $primary-check-background border-box;
            border-radius: 50%;
            border: 1px solid transparent;
          }

          &::before {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-image: url('../../assets/images/icon-check.svg'), $primary-check-background;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            opacity: 0;
            visibility: hidden;
            transition: all 125ms ease-out;
          }

          &:checked::before {
            opacity: 1;
            visibility: visible;
          }

          @include media(1200px) {
            width: 24px;
            height: 24px;

            &::before {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      button {
        background: transparent;
        border: 0;
        padding: 0;
        width: 14px;
        height: 14px; 
        cursor: pointer; 

        @include media(1200px) {
          transition: opacity 250ms ease-out, visibility 250ms ease-out;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  .task-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;

    p {
      font-size: 12px;
      color: $dark-gray-blue-200;
    }

    button {
      background: transparent;
      border: 0;
      padding: 0;
      font-size: 12px;
      color: $dark-gray-blue-200;
      cursor: pointer;
      transition: color 300ms ease;

      &:hover {
        color: $light-gray-blue-hover;
      }
    }

    @include media(1200px) {
      padding: 18px 24px;

      p, button {
        font-size: 14px;
      }
    }
  }
}